.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-feed-icon {
    width: 20px;
    height: 18px;
    background-position: -8px -8px;
}

.sprite-feed-icon-h {
    width: 20px;
    height: 18px;
    background-position: -44px -8px;
}

.sprite-intro {
    width: 15px;
    height: 14px;
    background-position: -80px -8px;
}

.sprite-intro-h {
    width: 15px;
    height: 14px;
    background-position: -111px -8px;
}

.sprite-main-icon {
    width: 17px;
    height: 18px;
    background-position: -142px -8px;
}

.sprite-main-icon-h {
    width: 17px;
    height: 18px;
    background-position: -175px -8px;
}

.sprite-team-icon {
    width: 23px;
    height: 18px;
    background-position: -208px -8px;
}

.sprite-team-icon-h {
    width: 23px;
    height: 18px;
    background-position: -247px -8px;
}
