.menu__list {
    display: inline-flex;
    margin-bottom: 14px;
}

.menu__item {
    margin-left: 95px;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    font-size: 12px;
    font-weight: bold;
    color: #4b73b5;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.menu__link:hover{
    color: #221f1f;
}

.menu__link:before{
    content: "";
    /*display: inline-block;
    vertical-align: middle;*/
    width: 23px;
    height: 18px;
    margin-right: 16px;
    background: center center no-repeat;
    /*-------*/
    background-image: url(/img/spritesheet.png)
}

.menu__item--activ .menu__link {
    color: #221f1f;
}

.menu__link--main::before {
    width: 17px;
    height: 18px;
    background-position: -142px -8px;
    /*background-image: url(/img/main.png);*/
}

.menu__link--main:hover::before {
    width: 17px;
    height: 18px;
    background-position: -175px -8px;
    /*background-image: url(/img/main-activ.png);*/
}

.menu__link--feed::before {
    width: 20px;
    height: 18px;
    background-position: -8px -8px;
    /*background-image: url(/img/feed.png);*/
}

.menu__link--feed:hover::before {
    width: 20px;
    height: 18px;
    background-position: -44px -8px;
    /*background-image: url(/img/feed-activ.png);*/
}

.menu__link--team::before {
    width: 23px;
    height: 18px;
    background-position: -208px -8px;
    /*background-image: url(/img/team.png);*/
}

.menu__link--team:hover::before {
    width: 23px;
    height: 18px;
    background-position: -247px -8px;
    /*background-image: url(/img/team-activ.png);*/
}

.menu__item--activ .menu__link--main::before {
    width: 17px;
    height: 18px;
    background-position: -175px -8px;
    /*background-image: url(/img/main-activ.png);*/
}

.menu__item--activ .menu__link--feed::before {
    width: 20px;
    height: 18px;
    background-position: -44px -8px;
    /*background-image: url(/img/feed-activ.png);*/
}

.menu__item--activ .menu__link--team::before {
    width: 23px;
    height: 18px;
    background-position: -247px -8px;
    /*background-image: url(/img/team-activ.png);*/
}