.content {
    width: 75%;
}

.content-banner__image {
    width: 885px;
    overflow: hidden;
}

.content-list {
    margin-bottom: 30px;
    
}



.content-title {
    font-size: 49px;
    font-weight: bold;
    color: #221f1f;
    margin-bottom: 15px;
}

.content-title--new {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.content-list__title {
    margin-bottom: 60px;
}
.content-list-list {
    display: flex;
    flex-flow: column;
}

.content-list-list--new {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.content-list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f5f5f5;
    width: 33%;
    
}

.content-list-item--new {
    flex-direction: row;
}

.content-list-item:last-child {
    margin-bottom: 30px;
    padding-bottom: 0;
    border-bottom: none;
}

.content-list-item__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 40px;
}
.content-list-item__pic {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.content-list-item__section {
    
    display: inline-block;
    vertical-align: top;
}

.content-list-item__section-data {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #656464;    
}

.content-list-item__section-head {
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    color: #221f1f;    
}

.content-list-item__section-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #221f1f;    
}

.blockquote {
    background-color: #4bb56b;
    background-image: url(/img/pattern.png);
    margin-bottom: 60px;
     
}

.blockquote--new {
    background-color: #4b73b5;

    margin-right: 20px;
}

.blockquote__content {
    max-width: 700px;
    padding: 50px 30px;
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    font-weight: 300;
}

.blockquote__content--new{
    padding: 30px 15px;
    text-align: center;
}

.blockquote__content a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}