.footer {
    background: #4b73b5;
    color: #fff;
    font-size: 14px;
}

.footer__container {
    min-height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    width: 240px;
    font-weight: 300;
    
}

.footer-text__link {
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.footer-logo {
    margin: auto auto;
    
}

.footer-social {
    width: 165px;
}

.footer-social__text {
    text-align: right;
    font-weight: bold;
}


.footer-social__icon {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    
}

.footer-social__icon-bg {
    width: 20px;
    height: 20px;
    background: #d2def3;
    border-radius: 50%;
    position: relative;
}

.footer-social__icon-bg:hover {
    background: #fff;
}

.footer-social__icon-bg--activ {
    background: #fff;
}

.footer-social__icon-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}