.form {
    width: 100%;
    height: 100%;
}

.form__wrapper {
    padding: 52px 70px;
    border-radius: 3px;
    background-color: #f5f5f5;
    width: 700px;
    margin: 0 auto;
}

.form__title {
    font-size: 49px;
    font-weight: bold;
    color: #221f1f;
    margin-bottom: 29px;
}

.form__content {
    width: 100%;
    height: 100%;
}

.form__row {
    display: flex;
    margin-bottom: 20px;    
}

.form__row:last-child {
    margin-bottom: 0;
}

.form__elem {
    flex: 1;
    margin-right: 23px;
}

.form__elem:last-child {
    margin-right: 0;
}

.form__elem-title {
    font-size: 14px;
    font-weight: 300;
    /*line-height: 3.86;*/
    color: #221f1f;
    margin-bottom: 5px;
}

.form__elem-input {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border-radius: 3px;
    background-color: #ffffff;
    outline: none;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 31, 31, 0.5);
}

.form__elem-input:focus {
    border-color: #4b73b5;
}

.form__textarea {
    height: 90px;
    resize: none;
    padding: 10px;
}

.form__radio, .form__button {
    flex: 1;
}

.form__radio-wrap {
    display: flex;
}

.form__radio-label {
    display: flex;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 300;
}

.form__radio-label:last-child {
    margin-right: 0;
}

.form__radio-input {
    display: none;
}

.form__radio-fake {
    display: inline-block;
    width: 20px;
    height: 20px;
    
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    position: relative;
    
    vertical-align: middle;
    margin-right: 5px;
    
    transition: border 0.5s;
}

.form__radio-fake::after {
    content: '';
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #4b73b5;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__radio-input:checked + .form__radio-fake {
    border: 1px solid #1c5bc3;
}

.form__radio-input:checked + .form__radio-fake::after {
    width: 8px;
    height: 8px;
}

.form__button {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 3px;
    background-color: #4b73b5;
    outline: none;
    border: 1px solid transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.4px;
    cursor: pointer;
    transition: .5s;
}

.button::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-left: 11px;
    background: center center no-repeat;
    background-image: url(/img/main.png);    
}

.button:hover {
    background-color: #fff;
    color: #1c5bc3;
    border: 1px solid #1c5bc3;
}