.price-name {
   /*width: 180px;
    height: 47px;*/
    font-family: Roboto;
    font-size: 49px;
    font-weight: bold;
    line-height: 0.78;
    /*text-align: left;*/
    color: #221f1f;
}

.price-item {
    width: 250px;
    height: 456px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e8e9ed;
    display: inline-block;
}

ul.price-item__list li {
    list-style: disc;
}

.price-item__image {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #4b73b5;
    margin: 41px auto 32px;
    ;
    position: relative;
}

.price-item__pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}