.price {
    margin-bottom: 34px;
}

.price-list {
    display: flex;
    justify-content: end;
}

.price-item {
    display: inline-block;
    width: 250px;
    /*height: 456px;*/
    border-radius: 5px;
    background: #fff;
    border: 1px solid transparent;
    vertical-align: top;
    text-align: center;
    padding: 40px 0;
    margin-right: 20px;
}

.price-item--new{
    width: 270px;
    margin-bottom: 30px;
}

.price-item:hover {
    border: 1px solid #e8e9ed;
}

.price-item--activ {
    border: 1px solid #e8e9ed;
}

.price-item__image {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: #4b73b5;
    margin: 0 auto 15px;
    display: flex;
}

.price-item__pic {
    margin: auto auto;
}

.price-item__block {
    margin: 0 25px 21px;
}

.price-item__head {
    font-size: 11px;
    line-height: 4.68;
    letter-spacing: 2.6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #212121;
}

.price-item__text,
.price-item__list {
    font-size: 18px;
    font-weight: 300;
}

.price-item__text {
    margin-bottom: 15px;
}

.price-item__list {
    text-align: left;
    position: relative;
}

.price-item__list-item {
    line-height: 30px;
    margin-left: 25px;
}

.price-item__list-item::before{
    content: "•";
    position: absolute;
    left: 0;
}

.price-item__cost {
    font-size: 54px;
}

.price-item__cost-dollar {
    font-size: 30px;
}